*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #92e3a9;
    background-size: 100%;
    font-family: 'Roboto Condensed', sans-serif;
  }
  header{
      background: white;
      height: 100px;
      width: 100%;
      margin: 0px;
      text-align: center;
      line-height: 100px;
      text-emphasis-color: rgb(57, 38, 138);
}
#container{
    width: 100%;
    height: 100px;
    margin: 0px auto;
}
nav{
    background: #1cb173;
    height: 100px;
    width: 100%;
}
nav ul{
    float: center;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #000000;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}
section{
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}
h2{
    color:white;
}
.form-formulario{
    width: 600px;
    background: #1cb173;
    padding: 0px;
    margin: auto;
    margin-top: 100px;
    border-radius: 8px;
    color: white;
}
input[type=text]{
    width:60%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
  }
  
  input[type=text]:focus, input[type=textarea]{
    border-color:#4CAF50;
    box-shadow:0 0 5px 0 #4CAF50;
  }
input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  
